.container{
    width:960px;
    display:flex;
    flex-wrap:wrap;
    

}

#red {
    background-color: red;
    width:320px;
    height: 40px;
    color: red;
}

#green{
    background-color: green;
    width: 320px;
    height: 40px;
    color:green;
}

#blue{
    background-color: blue;
    width: 320px;
    height : 40px;
    color:blue;
}

#yellow{
    background-color: yellow;
    width: 320px;
    height: 40px;
    color: yellow;
}

#purple{
    background-color: purple;
    width: 320px;
    height: 40px;
    color:purple;
}

#grey{
    background-color: grey;
    width: 320px;
    height: 40px;
    color:grey;
}







